[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
drf-nested-routers = "*"
redis = "*"
celery = "*"
django-celery-beat = "*"

[dev-packages]
pytest-django = "*"
django-debug-toolbar = "*"
model-bakery = "*"
django-extensions = "*"
pytest-celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.13"

